body { padding-top: 70px; }

noscript > div {
	position: relative;
	right: 5%;
	text-align: center;
	width: 110%;
	background-color: rgb(255, 100, 100);
	color: rgb(255, 255, 255);
}

.footer {
	background-color: #f5f5f5;
}

.social-buttons {
	margin-left: auto;
	margin-right: 0;
	width: 75px;
}

.social-buttons > a {
	margin-right: 15px;
	color: #ffff00;
}